// body{
//     background: rgb(166, 3, 0);
// }
.am-navbar-light .am-navbar-title {
    color: #999999;
    border-radius: .5rem;
    background-color: #fff;
}
.navbar{
    background: rgb(166, 3, 0);
    color: #ffffff;
}