<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div className="top-line">
        <div className="top-line-logo">
            <img src="https://img.alicdn.com/imgextra/i3/2053469401/O1CN011wdOkj2JJhy7TkPFo_!!2053469401.png" alt="">
        </div>
        <div className="swiper-container swiper-container-top-line swiper-no-swiping swiper-container-vertical">
            <div className="swiper-wrapper" style="transform: translate3d(0px, -40px, 0px); transition-duration: 0ms;">
                <div className="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="2" style="height: 20px;">
                    <a className="top-line-a" href="?r=ddq">
                        <div className="top-line-info">
                            <p className="text-ellipsis">
                                <span className="text-center">限时特价</span>纯可可脂松露巧克力仅19.9元</p>
                        </div>
                        <i className="iconfont icon-youjiantou"></i>
                    </a>
                </div>
                <div className="swiper-slide swiper-slide-prev" data-swiper-slide-index="0" style="height: 20px;">
                    <a className="top-line-a" href="?r=index/brand">
                        <div className="top-line-info">
                            <p className="text-ellipsis">
                                <span className="text-center">品牌特卖</span>安踏限时特价，满3件8折满4件7折</p>
                        </div>
                        <i className="iconfont icon-youjiantou"></i>
                    </a>
                </div>
                <div className="swiper-slide swiper-slide-active" data-swiper-slide-index="1" style="height: 20px;">
                    <a className="top-line-a" href="?r=activity/half">
                        <div className="top-line-info">
                            <p className="text-ellipsis">
                                <span className="text-center">
                                    福利清单</span>限时5折!百草味坚果大礼包1612g</p>
                        </div><i className="iconfont icon-youjiantou"></i>
                    </a></div>
                <div className="swiper-slide swiper-slide-next" data-swiper-slide-index="2" style="height: 20px;"><a
                        className="top-line-a" href="?r=ddq">
                        <div className="top-line-info">
                            <p className="text-ellipsis"><span className="text-center">限时特价</span>纯可可脂松露巧克力仅19.9元</p>
                        </div><i className="iconfont icon-youjiantou"></i>
                    </a></div>
                <div className="swiper-slide swiper-slide-duplicate" data-swiper-slide-index="0" style="height: 20px;">
                    <a className="top-line-a" href="?r=index/brand">
                        <div className="top-line-info">
                            <p className="text-ellipsis"><span className="text-center">品牌特卖</span>安踏限时特价，满3件8折满4件7折</p>
                        </div><i className="iconfont icon-youjiantou"></i>
                    </a></div>
            </div>
        </div>

    </div>
    <!--  -->
    <div className="cent"> 
        <a className="img">
            <img src="https://img.alicdn.com/imgextra/i2/4020943108/O1CN013DFLjg1YpVYNLxmPQ_!!4020943108.jpg_310x310.jpg_.webp"
                alt="" style="background: rgb(245, 245, 245); display: inline;">
        </a>
        <div className="mar">
            <a>
                <div>
                    <h3 className="product_title"><span className="labelTop tm"></span>
                        <span className="title_text">第二件半价！DWF小纪新款1900打底裤</span>
                    </h3>
                </div>
                <div className="product_info">
                    <div className="price">
                        <span>券后&nbsp;</span>
                        <span className="RMB">¥</span>
                        <span className="price_num">39</span>
                    </div>
                    <div className="label_box">
                        <span data-center="center">
                            <span className="label label1">旗舰店</span>
                            <span className="juan"><span>劵</span>100元</span>
                        </span>
                    </div>
                    <div className="salse">
                        <span>已售8574</span>
                        <span>评论36</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--  -->
</body>

</html>