.goodlist{
    // width: 100%;
    display: flex;
    justify-content: space-around;
    color: black;
    .pic_title{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .title{
            // float: right;
            width: 2.0rem;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            color: black;
        }
    }
    .labelTwo{
        color: black;
        align-items: center;
        display: flex;
    }
    .pricediv{
        display: flex;
        align-items: center;
    }
    .pic{
        width: 2.2rem;
        height: 2rem;
        // float: left;
    }
   
}